{
  "plugins": [ "node" ],
  "extends": [ "eslint:recommended", "plugin:node/recommended" ],
  "rules": {
    "comma-dangle": [ "error", "always-multiline" ],
    "indent": [ "error", 2, { "MemberExpression": 1 } ],
    "key-spacing": "error",
    "node/exports-style": [ "error", "module.exports" ],
    "no-trailing-spaces": "error",
    "object-curly-spacing": [ "error", "always" ],
    "semi": [ "error", "always" ],
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "space-infix-ops": ["error", { "int32Hint": false }],
    "quotes": ["error", "single"]
  },
  "globals": {
    "after": true,
    "describe": true,
    "before": true,
    "beforeEach": true,
    "it": true,
    "expect": true
  }
}
