{
  "plugins": [ "node" ],
  "extends": [ "eslint:recommended", "plugin:node/recommended" ],
  "rules": {
    "comma-dangle": [ "error", "only-multiline" ],
    "indent": [ "error", 2, { "MemberExpression": 1 } ],
    "key-spacing": "error",
    "node/exports-style": [ "error", "module.exports" ],
    "no-trailing-spaces": "error",
    "object-curly-spacing": [ "error", "always" ],
    "semi": [ "error", "always" ]
  },
  "globals": {
    "describe": true,
    "before": true,
    "beforeEach": true,
    "it": true,
    "expect": true
  }
}
